button{
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    font-weight: 800;
}

